html,
button,
input,
select,
textarea {
  color: #222;
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 300;
  font-style: normal;
}

html {
  font-size: 1em;
  line-height: 1.4;  
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  text-transform: uppercase;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #0090c4;
}
a:hover {
  color: #32b8e5;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

.top-bar {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 10;
}
.top-bar h1 {
  float: left;
  margin: 10px 0 0 10px;
  padding: 0;
}
.nav {
  float: right;
  margin: 0 10px 0 0;
}
.nav li {
  display: inline-block;
  margin-right: 6px;
  padding: 10px;
}

.col {
  position: fixed;
  height: 100%;
  top: 0;
  padding-top: 0;
  margin-top: 100px;
  overflow: hidden;
  overflow-y: auto;
}
.col-header {
  margin-top: 0;
  padding-top: 60px;
}
.col ul {
  margin: 0 10px;
}
.col-big {  
  width: 50%;
  left: 0;
}
.col-med {  
  width: 33.3333333333%;
  left: 50%;
}
.col-sml {  
  width: 16.6666666667%;
  left: 83.3333333333%;
}
.col-big ul {
  background: #ccc;
}
.col-med ul {
  background: #eee;
}
.col-sml ul {
  background: #f1f1f1;
}
.col h2 {
  margin: 0;
  padding: 0;
  text-align: center;
}
.col h2 a {
  color: #222;
}
.col h2 a:hover {
  color: #0090c4;
}
.col li {
  padding: 12px;
}
.col img {
  width: 100%;
}
@media (max-width: 800px) {
  .col-big {
    width: 41.6666666667%;
  }
  .col-med {
    width: 33.3333333333%;
    left: 41.6666666667%;
  }
  .col-sml {
    width: 25%;
    left: 75%;
  }
}

.icon {
  font-family: 'icomoon';  
  display: inline-block;
  width: auto;
  height: auto;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
  speak: none;
  -webkit-font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-weight: normal;
  font-variant: normal;
}
.icon-nypl:before {
  content: "N";
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
       url('../fonts/icomoon.svg#icomoon') format('svg'),
       url('../fonts/icomoon.woff') format('woff'),
       url('../fonts/icomoon.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}
