ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #0090c4;
}
a:hover {
  color: #32b8e5;
}
hr {
  border-color: #ccc;
  border-style: dashed;
  margin: 20px 0;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

.top-bar {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 10;
}
.top-bar h1 {
  float: left;
  margin: 10px 0 0 10px;
  padding: 0;
}
.top-bar h1 a {
  color: #222;
}
.nav {
  float: right;
  margin: 0 10px 0 0;
}
.nav li {
  display: inline-block;
  margin-right: 6px;
  padding: 10px;
}

.col {
  position: fixed;
  height: 100%;
  top: 0;
  padding-top: 0;
  margin-top: 100px;
  overflow: hidden;
  overflow-y: auto;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.col-header {
  margin-top: 0;
  padding-top: 60px;
}
.col ul {
  margin: 0 10px;
}
.col-big {
  width: 50%;
  left: 0;
}
.col-med {
  width: 33.3333333333%;
  left: 50%;
}
.col-sml {
  width: 16.6666666667%;
  left: 83.3333333333%;
}
.col-big ul {
background: rgba(175,175,175,.5);
}
.col-med ul {
background: rgba(200,200,200,.5);
}
.col-sml ul {
background: rgba(225,225,225,.5);
}
.col h2 {
  margin: 0;
  padding: 0 24px;
}
.col h2 a {
  color: #222;
}
.col h2 a:hover {
  color: #0090c4;
}
.col li {
  padding: 12px;
}
.col img {
  width: 100%;
}
.col h2.col-title {
  display: none;
  margin: 20px 0;
}

#projects .col,
#investigations .col,
#blog .col {
  overflow: hidden;
  opacity: 0;
}
#projects .col.active,
#investigations .col.active,
#blog .col.active {
  width: 100%;
  left: 0;
  opacity: 1;
  overflow-y: auto;
}
.col.active li {
  float: left;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .col-big {
    width: 33.3333333333%;
  }
  .col-med {
    width: 33.3333333333%;
    left: 33.3333333333%;
  }
  .col-sml {
    width: 33.3333333333%;
    left: 66.6666666667%;
  }
  .col ul {
    margin: 0 6px;
  }
}
@media (max-width: 500px) {
  .top-bar {
    position: relative;
    width: auto;
    height: auto;
  }
  .top-bar h1 {
    float: none;
  }
  .nav {
    float: none;
  }
  .nav li {
    padding-top: 0;
    padding-bottom: 0;
  }
  .col {    
    position: relative;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    padding-top: 0;
    margin-top: 0;
    overflow: auto;
    max-height: 3000px;
  }
  .col-header {
    display: none;
  }
  .col h2.col-title {
    display: block;
  }
  #projects .col,
  #investigations .col,
  #blog .col {
    max-height: 0px;
  }
  #projects .col.active,
  #investigations .col.active,
  #blog .col.active {
    width: auto;
    max-height: 3000px;
  }
  .col.active li {
    float: none;
    width: auto;
    height: auto;
  }
}

article {
  width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: #eee;
}
article p {
  font-size: 1.3em;
}
.post-title {
  font-size: 2em;
  margin-bottom: 0.3em;
}
article article {
  width: auto;
  margin: 10px 0;
  padding: 0;
}

.icon {
  font-family: 'icomoon';
  display: inline-block;
  width: auto;
  height: auto;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
  speak: none;
  -webkit-font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-weight: normal;
  font-variant: normal;
}
.icon-nypl:before {
  content: "N";
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
       url('../fonts/icomoon.svg#icomoon') format('svg'),
       url('../fonts/icomoon.woff') format('woff'),
       url('../fonts/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
